.scrol {
    overflow-y: auto;
    max-height: 280px;
}

.scrol::-webkit-scrollbar {
  width: 10px;
  background-color: #0000;
}

.scrol::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #677078;
}

.scrol::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #212529;
}
