.linkFilm {
    background: #484f5750;
    cursor: pointer;
}

.linkFilm:hover {
    background:  #484f5797;
}

.linkPerson {
    background: #212529;
    cursor: pointer;
}

.linkPerson:hover {
    background: #5a5f66;
}

.informativeBlock {
    background: #292D32;
    cursor: pointer;
}

.informativeBlock:hover {
    background: #373A3E;
}
